<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- boostrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <!-- css -->
    <link rel="stylesheet" href="/style/style.css" />
    <!-- font icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- font family -->
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins&family=Rubik:wght@500&display=swap"
      rel="stylesheet"
    />
    <title>My Resume</title>
  </head>

  <body>
    <div class="header">
      <div class="logo">
        <span style="--i: 1" class="first-word">J</span>
        <span style="--i: 2">A</span>
        <span style="--i: 3">D</span>
        <span style="--i: 4">.</span>
      </div>

      <div class="nav-bar">
        <a href="#start">Home</a>
        <a href="#skills">Skills</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
      </div>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>

    <section id="start" class="section1">
      <div class="intro">
        <div class="intro-text">
          <h3>
            Hello its me,<br />
            <span class="name">Jad Hammoud</span> <br />
            and i'm <span class="text-animation">Web Developer</span>
          </h3>
          <p>
            Computer Science graduate with a focus on web and mobile
            development. Skilled in HTML, CSS, JavaScript, and frameworks like
            React. Passionate about creating user-friendly applications and
            staying updated on industry trends. Committed to continuous learning
            and growth.
          </p>
          <div class="social-media">
            <a href="https://www.instagram.com/jadhammoud7/"
              ><i class="fab fa-instagram" style="--i: 2"></i>
            </a>
            <a href="www.linkedin.com/in/jad-hammoud-a8859b231"
              ><i class="fab fa-linkedin" style="--i: 20"></i>
            </a>
          </div>
          <a href="#contact" class="btn about-me"
            >More About Me <i class="fa-solid fa-right-long"></i
          ></a>
        </div>

        <img
          src="/images/me.png"
          alt="my profile picture"
          height="300px"
          width="300px"
        />
      </div>
    </section>

    <!-- section skills -->
    <section class="skills" id="skills">
      <h1 class="section-title">My <span>Skills</span></h1>
      <div class="logos">
        <div class="logos-slide">
          <img src="/images/html.png" alt="html icon" />
          <img src="/images/java.png" alt="java icon" />
          <img src="/images/c++.png" alt="c++ icon" />
          <img src="/images/c.png" alt="c icon" />
          <img src="/images/mongo.png" alt="mongodb icon" />
          <img src="/images/python.png" alt="python icon" />
          <img src="/images/css.png" alt="css icon" />
          <img src="/images/sql.png" alt="mysql icon" />
          <img src="/images/js.png" alt="javascript icon" />
          <img src="/images/react.png" alt="react icon" />
          <img src="/images/angular.png" alt="angular icon" />
          <img src="/images/expressjs.png" alt="express icon" />
          <img src="/images/php.png" alt="php icon" id="php" />
          <img src="/images/ejs.png" alt="ejs icon" id="ejs" />
        </div>
      </div>
    </section>

    <!--projects section-->
    <section id="projects">
      <h1 class="section-title"><span>Projects</span> i worked on</h1>
      <div class="list-projects">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/images/Newbie Gamers-logos.jpeg" alt="Avatar" />
            </div>
            <div class="flip-card-back">
              <i>Currently having problems in deploying it</i>
              <p>
                To know more about my Capstone, kindly read the README file by
                clicking on the link below
              </p>
              <button>
                <a href="https://github.com/jadhammoud7/Capstone-Project"
                  >Github Link</a
                >
              </button>
            </div>
          </div>
        </div>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/images/jonahs.jpg" alt="Avatar" />
            </div>
            <div class="flip-card-back">
              <p>
                Jonahs kabob is a random restaurant being made but not yet
                deployed, to the famous USA tiktoker nick antonyan, who owns
                this restaurant along with his family members
              </p>
              <button>
                <a href="https://main--gleeful-buttercream-f83893.netlify.com"
                  >Live Demo</a
                >
              </button>
            </div>
          </div>
        </div>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/images/gamecenter.jpg" alt="Avatar" />
            </div>
            <div class="flip-card-back">
              <i>Currently having problems in deploying it</i>
              <p>
                To know more about Game Center(Mobile app), kindly read the
                README file by clicking on the link below
              </p>
              <button>
                <a href="https://github.com/jadhammoud7/game-center"
                  >Github link</a
                >
              </button>
            </div>
          </div>
        </div>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/images/simonGame.jpg" alt="Avatar" />
            </div>
            <div class="flip-card-back">
              <p>
                The Simon game, is a classic electronic memory game where
                players replicate a randomly generated sequence of colored
                button presses. The game becomes progressively challenging as
                successful sequences are reproduced, testing players' memory and
                concentration
              </p>
              <button>
                <a href="https://jadhammoud7.github.io/Simon-challenge/"
                  >Live Demo</a
                >
              </button>
            </div>
          </div>
        </div>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/images/loading.gif" alt="Avatar" />
            </div>
            <div class="flip-card-back">
              <p>Loading Project...</p>
              <!-- <button>Github link</button>
              <button>Live Demo</button> -->
            </div>
          </div>
        </div>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/images/loading.gif" alt="Avatar" />
            </div>
            <div class="flip-card-back">
              <p>Loading Project...</p>
              <!-- <button>Github link</button>
              <button>Live Demo</button> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--contact section-->
    <section class="contact-me" id="contact">
      <div class="contact">
        <h1 class="section-title">Contact me</h1>
        <p>
          Feel free to reach out for further discussion; I'm just a call or
          email away.
        </p>
      </div>
      <div class="container">
        <div class="contact-links">
          <div class="contactme-content">
            <div class="contactme-icon">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="contactme-text">
              <h6>Address</h6>
              <p>Ras El Nabeh, Al Hout Street, Badee Building, 8th floor</p>
            </div>
          </div>
          <div class="contactme-content">
            <div class="contactme-icon">
              <i class="fa-solid fa-phone"></i>
            </div>
            <div class="contactme-text">
              <h6>Phone Number</h6>
              <p>+ 961 76/939605</p>
            </div>
          </div>
          <div class="contactme-content">
            <div class="contactme-icon">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="contactme-text">
              <h6>Email</h6>
              <p>Jhammoud007@gmail.com</p>
            </div>
          </div>
          <div class="social-media">
            <a href="https://www.instagram.com/jadhammoud7/"
              ><i class="fab fa-instagram" style="--i: 2"></i>
            </a>
            <a href="www.linkedin.com/in/jad-hammoud-a8859b231"
              ><i class="fab fa-linkedin" style="--i: 20"></i>
            </a>
            <a href="https://github.com/jadhammoud7"
              ><i class="fab fa-github" style="--i: 20"></i>
            </a>
          </div>
        </div>

        <!-- <div class="contactme-form">
          <div class="form-title"><h3>Feed Me Projects!</h3></div>
          <form action="/submit" method="post">
            <div class="form-content">
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Enter Your Name"
              /><br /><br />
              <input
                type="text"
                id="email"
                name="email"
                placeholder="Enter Your Email"
              /><br /><br />
              <textarea
                id="subject"
                name="subject"
                placeholder="Write something.."
              ></textarea>
              <br />
              <br />
              <button type="submit" value="Submit" class="btn" id="submitForm">Submit</button>
            </div>
          </form>
        </div> -->
      </div>
    </section>

    <script src="/javascript/main.js"></script>
    <script src="/javascript/skills.js"></script>
    <script>
      const submitForm = document.querySelector("#submitForm");
      submitForm.addEventListener("click", () => {
        submitForm.innerHTML = "Submitting";
        setTimeout(function () {
          submitForm.innerHTML = "Submit";
        }, 2000);
      });
    </script>
  </body>
</html>
